<hr>
<h1>
  Les clients
  <%= link_to new_admin_client_path() do %>
    <button type="button" class="btn btn-primary" style="float:right;">Ajouter un client</button> 
  <% end %>
</h1>
<p></p>
<hr>
<div class="row">
  <div class="col-md-12">
  <div class="cart-info">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th class="name">Id</th>
          <th class="quantity">Nom</th>
          <th class="price">Tel</th>
          <th class="price">Email</th>
          <th class="price">Adresse</th>
          <th class="price">Date de création</th>
          <th></th>
        </tr>
      </thead>
      <% @clients.each do |client| %>
        <tbody>
          <tr>
            <td>
              <%= client.id %>
            </td>
            <td><%= client.name %></td>
            <td><%= client.tel %></td>
            <td><%= client.email %></td>
            <td ><%= client.address %></td>
            <td class="date"><%= client.created_at.strftime("%b %d, %Y") %></td>

            <td>
              <%= link_to 'Voir', admin_client_path(client) %> |
              <%= link_to 'Modifier', edit_admin_client_path(client) %> |
              <%= link_to 'Supprimer', admin_client_path(client),
                                  method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer ' } %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  </div>
</div> <!-- row-->
