<hr>
<h1>
  Les ingrédients
  <%= link_to new_admin_ingredient_path() do %>
    <button type="button" class="btn btn-primary" style="float:right;">Ajouter un ingrédient</button> 
  <% end %>
</h1>
<p></p>
<hr>
<div class="row">
  <div class="col-md-12">
    <form action="#" method="post" enctype="multipart/form-data">
      <div class="cart-info">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th style="width:80%">Nom</th>
              <th></th>
            </tr>
          </thead>
           	<% @ingredients.each do |ingredient| %>
            <tbody>
              <tr>
                <td class="name"> <%= ingredient.id %></td>
                <td class="name"> <%= ingredient.name_ingredient %></td>
                <td>
				<%= link_to 'Modifier', edit_admin_ingredient_path(ingredient) %> |
				<%= link_to 'Supprimer', admin_ingredient_path(ingredient),
						method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer ' } %>
                </td>
              </tr>
            </tbody>
           	<% end %>
        </table>
      </div>
    </form>
  </div>
</div> <!-- row-->
